<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style="text-size: 1.2rem"><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/img/android-chrome-512x512.png">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
<header>
  <h2><a href="/"> &lt;/marialaboissiere&gt; </a></h2>
  <nav>
    <a href="/">Início</a>
    <a href="/sobre">Sobre Mim</a>
    <a href="/disciplinas">Disciplinas</a>
    <a href="/projetos">Projetos</a>
    <a href="/contato">Contato</a>
    <a href="/dashboard">Dashboard</a>
  </nav>
</header>
<main>