<%- include("partials/header", { title: "Sobre | " + estudante.nome, estudante: estudante }) %>

<div id="particles-js"></div>
<main class="container-sobre">
  <section class="sobre">
    <h1>Sobre Mim</h1>
    <div class="sobre-conteudo">
      <p>
        Eu sou a <strong>Maria Fernanda</strong>.
      </p>

      <p>
        Atualmente estou cursando <strong>Desenvolvimento de Software Multiplataforma</strong> na <strong>FATEC Jessen Vidal</strong> e tenho formação técnica em <strong>Administração</strong> pelo Colégio Antônio Teixeira Fernandes.
        Sempre fui curiosa e encantada com a ideia de transformar ideias em algo útil e acessível por meio da tecnologia.
      </p>

      <p>
        Meu objetivo é me tornar uma <strong>desenvolvedora web full stack</strong>. Tenho me dedicado aos estudos de front-end e back-end, explorando cada linguagem, ferramenta e conceito — tanto nos projetos da faculdade quanto nos meus aprendizados autodidatas.
      </p>

      <p>
        Acredito que tecnologia não é apenas código, mas também sensibilidade: pensar em quem vai usar, como vai se sentir, e o impacto que aquilo pode causar.
        Gosto de equilibrar lógica e criatividade, buscando sempre criar soluções simples, bonitas e funcionais.
      </p>

      <p>
        Fora do mundo da programação, gosto de aproveitar os momentos lendo um bom livro (principalmente ficção científica, distopias e livros clássicos),
        testando receitas novas ou aproveitando a companhia da minha família e amigos.
      </p>

      <p>
        Ainda estou só começando, mas sigo com o coração aberto, com muita vontade de aprender e um desejo genuíno de contribuir para um mundo mais humano por meio da tecnologia.
        Estou animada para seguir crescendo, trocando experiências e contribuindo com o universo da tecnologia.
      </p>
    </div>
   </div>
  </section>
</main>

<%- include("partials/footer", { estudante: estudante, page: "sobre" }) %>